.App {
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-popup {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	margin: 2rem 0;
	padding: 1rem;
	border: 2px solid black;
	border-radius: 1rem;
	box-shadow: 0 0 5px black;
	background-color: white;
}

form h1 {
	margin: 2rem 0;
	font-size: 1rem;
}

form button {
	cursor: pointer;
	border: 2px solid black;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
	transition: 0.2s ease-in-out;
}

form button:hover {
	background-color: lightblue;
}

form .close-btn {
	border: none;
	background-color: transparent;
	font-weight: 400;
	transition: 0.2s ease-in-out;
}

form .close-btn:hover {
	background-color: transparent;
	color: red;
}

.radio-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 2rem 0;
}

.radio-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 60px;
	width: 50px;
}

.textarea-wrapper {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

textarea {
	margin: 1rem;
	border: 2px solid black;
	border-radius: 0.5rem;
}

@media screen and (max-width: 415px) {
	form {
		margin: 0.75rem;
		width: 90%;
		padding: 0.5rem;
	}

	form h1 {
		margin: 0;
	}

	form p {
		font-size: 0.8rem;
	}

	.radio-buttons {
		flex-direction: column;
		margin: 1rem 1rem;
	}

	.radio-wrapper {
		flex-direction: row;
		height: 32px;
		min-width: 70px;
	}

	.textarea-wrapper label {
		font-size: 0.8rem;
	}
}
