rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(user) {
      return get(/databases/$(database)/documents/users/$(user)).data.role == "admin"
    }

    match /reviews/{document=**} {
      allow read, write: if isAdmin(request.auth.token.email)
      allow create: if true
    }
  }
}
