@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.textarea {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	max-width: 90%;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#surveyForm {
    display: flex;
    align-items: center;
    width: 100hv;
    flex-direction: column;
}
