.pie-wrapper {
	margin: 1rem;
	padding: 1rem;
	background-color: #142236;
	height: 400px;
	width: 330px;
	border: 2px solid black;
	border-radius: 1rem;
	box-shadow: 0 5px 5px #142236;
}

.pie-wrapper h2 {
	color: #fff;
}

.pie-wrapper select {
	margin-top: 1rem;
	padding: 0.5rem;
	border: 2px solid #fff;
	border-radius: 1rem;
	background-color: transparent;
	color: #fff;
}
