nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #142236;
	height: 100vh;
	width: 15vw;
	position: fixed;
	padding-top: 2rem;
	color: white;
}

nav ul {
	list-style-type: none;
	margin: 2rem 0;
}

li {
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}

li a {
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.active {
	color: #ed6930;
}

svg {
	margin-right: 5px;
}