h2 {
    color: white;
    margin-bottom: 15px;
}

.comment, .rate, .date {
    color: #142236;
}

.review-single {
    background: #F6F6F8;
    border: 1px solid #142236;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 295px;
    padding: 10px;
    margin: 0 10px 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.star {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background: cover;
    background-image: url(../images/Star.png);
}

.rate-group {
    display: flex;
}