.reviews h2 {
	color: white;
}

.comment,
.rate,
.date {
	color: #142236;
}

.review-single {
	background: #f6f6f8;
	border: 1px solid #142236;
	box-sizing: border-box;
	border-radius: 10px;
	width: 90%;
	padding: 10px;
	margin: 0 10px 10px 0;
}

.review-single p {
	padding: 0.2rem 0;
}

.container {
	margin-top: 1.5rem;
}

.star {
	width: 18px;
	height: 18px;
	
}

.green {
	color: #3AC92E;
}

.orange {
	color: #ED6930;
}

.yellow {
	color: #F7B055;
}

.rate-group {
	display: flex;
	align-items: center;
}

.rate {
	font-weight: 700;
}

.reviews {
	width: 60%;
	background-color: #142236;
	border-radius: 30px;
	margin: 1rem;
	padding: 20px;
	height: 400px;
	overflow: scroll;
	border: 2px solid black;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px #142236;
}
